fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
transformers
torch
sentence-transformers
Pillow
opencv-python
moviepy
SpeechRecognition
pydub
pdfminer.six
python-docx
requests
beautifulsoup4
tineye-api
google-api-python-client
